<% title "Plant a tree" %>
<div class="garden-flex">
  <div class="back">
    <%= link_to garden_path do %>
      <%= image_tag('chevron_left.svg', class: 'chevron') %> Back
    <% end %>
  </div>
  <%= link_to new_source_path do %>
    <div class="source">
      <div class="content-left-column">
          <%= image_tag('new_tree.svg', class: 'source-pic') %>
      </div>
      <div class="content-right-column">
        <div class="content-top">
          <div class="plant-tree">
            Plant a tree from the wild
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="sub-menu">
    <div class="sub-menu-item">
      <%= link_to trees_top_path do %>
        Top
      <% end %>
    </div>
    <div class="sub-menu-item active">
      <%= link_to trees_latest_path do %>
        Latest
      <% end %>
    </div>
  </div>
  <% @latest.each do |source| %>
      <% sub = source.in_garden_of_user(current_user) %>
      <%= render partial: 'shared/tree', locals: {sub: sub, source: source} %>
  <% end %>
</div>
<%= render partial: 'shared/footer' %>