<h1>Plant a tree from the wild</h1>

<%= simple_form_for @source do |f| %>
  <div class="form-inputs">
    <%= f.label 'Name' %>
    <%= f.input :name, required: true, autofocus: true, label: false %>
    <%= f.label 'Source url' %>
    <%= f.input :url, required: true, label: false %>
    <%= f.label 'RSS URL' %>
    <%= f.input :rss_url, required: true, label: false %>
    <%= f.label 'Source picture url' %>
    <%= f.input :picture, required: true, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Plant a tree" %>
  </div>
<% end %>

<%= link_to 'Back', sources_path %>
