<% title "Plant a new tree" %>
<div class="content-flex">
<%= render partial: 'shared/back' %>

<h1>Plant a new tree</h1>

<%= simple_form_for @source do |f| %>
  <div class="form-inputs">
    <%= f.label 'RSS URL' %>
    <%= f.input :rss_url, required: true, label: false, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Plant a tree" %>
  </div>
<% end %>
</div>

<%= render partial: 'shared/footer' %>
