<% title "Planter un arbre" %>
<%= render partial: 'shared/searchbar' %>
<div class="plant-tree-flex">
  <div class="sub-menu">
    <div class="sub-menu-item">
      <%= link_to trees_top_path do %>
        Populaires
      <% end %>
    </div>
    <div class="sub-menu-item">
      <%= link_to trees_latest_path do %>
        Découvertes
      <% end %>
    </div>
  </div>
  <% if @results == [] %>
    <p class="no_results">Cette espèce d'arbre est encore inconnue.</p>
    <p class="no_results">Faîtes-la découvrir à Jera !</p>
    <%= simple_form_for @source do |f| %>
      <div class="form-inputs">
        <%= f.input :url, required: true, label: false, placeholder: "http://..." %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Je suis une exploratrice !" %>
      </div>
    <% end %>
  <% else %>
    <% @results.each do |source| %>
      <% sub = source.in_garden_of_user(current_user) %>
      <%= render partial: 'shared/tree', locals: {sub: sub, source: source} %>
    <% end %>
  <% end %>
</div>