<% title "Plant a tree" %>
<div class="back">
  <%= link_to garden_path do %>
    <%= image_tag('chevron_back.svg', class: 'chevron') %> Garden
  <% end %>
</div>
<div class="garden-flex">
  <%= render "shared/searchbar" %>
  <div class="sub-menu">
    <div class="sub-menu-item">
      <%= link_to trees_top_path do %>
        Top
      <% end %>
    </div>
    <div class="sub-menu-item">
      <%= link_to trees_latest_path do %>
        Latest
      <% end %>
    </div>
  </div>
  <% if @results == [] %>
    <p class="no_results">This species of tree is unknown to the people of Jera.</p>
    <p class="no_results">Be the first to bring it on Jera!</p>
    <%= simple_form_for @source do |f| %>
      <div class="form-inputs">
        <%= f.input :url, required: true, label: false, placeholder: "http://..." %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "I'm an explorer!" %>
      </div>
    <% end %>
  <% else %>
    <% @results.each do |source| %>
      <% sub = source.in_garden_of_user(current_user) %>
      <%= render partial: 'shared/tree', locals: {sub: sub, source: source} %>
    <% end %>
  <% end %>
</div>