<% title @source.name %>
<div class="content-flex">
  <% sub = @source.in_garden_of_user(current_user) %>
  <%= render partial: 'shared/tree', locals: {sub: sub, source: @source} %>
  <% @harvest.each do |e| %>
    <div class="content show">
      <div class="content-right-column">
        <div class="content-top">
          <div class="time-published source-show"><%= distance_of_time_in_words(e.published_date.to_time, Time.now) %> ago</div>
        </div>
        <%= link_to e.media_url, target: :blank, class: 'content-anchor' do %>
          <div class="content-box">
            <% unless e.thumbnail_url == "" %>
              <%= image_tag(e.thumbnail_url, class: 'content-thumbnail source-show') %>
            <% end %>
            <p class="content-title source-show"><%= e.title %></p>
            <p class="content-desc"><%= truncate(e.content, length: 200) %></p>
            <%= render partial: 'shared/fruit_footer', locals: {entry: e} %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/back' %>