<% title @source.name %>
<div class="content-flex">
  <%= render 'shared/back' %>
  <div class="tree">
    <% sub = @source.in_garden_of_user(current_user) %>
    <%= link_to source_path(@source) do %>
      <div>
        <%= image_tag(@source.picture, class: 'tree-pic') %>
        <% if sub != nil && sub.auto_harvest %>
          <%= image_tag("treebase_auto_harvest.svg") %>
        <% else %>
          <%= image_tag("treebase0.svg") %>
        <% end %>
      </div>
    <% end %>
    <div class="tree-name">
      <%= link_to source_path(@source) do %>
        <%= truncate(@source.name, length: 30) %>
      <% end %>
      <p class="source-stats">
        In <b class="green"><%= @source.subscriptions.count %></b> <%= "garden".pluralize(@source.subscriptions.count) %>
      </p>
      <%= render partial: 'shared/tree_footer', locals: {sub: sub, source: @source} %>
    </div>
  </div>
  <% @harvest.each do |e| %>
    <div class="content show">
      <div class="content-right-column">
        <div class="content-top">
          <div class="time-published source-show"><%= distance_of_time_in_words(e.published_date.to_time, Time.now) %> ago</div>
        </div>
        <%= link_to e.media_url, target: :blank, class: 'content-anchor' do %>
          <div class="content-box">
            <% unless e.thumbnail_url == "" %>
              <%= image_tag(e.thumbnail_url, class: 'content-thumbnail source-show') %>
            <% end %>
            <p class="content-title source-show"><%= e.title %></p>
            <p class="content-desc"><%= truncate(e.content, length: 200) %></p>
            <%= render partial: 'shared/fruit_footer', locals: {entry: e} %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/footer' %>