<% title @source.name %>
<div class="content-flex">
  <div class="source show">
    <div class="source-left-column">
      <%= image_tag(@source.picture, class: 'source-pic') %>
    </div>
    <div class="source-right-column">
      <p class="source-title">
        <%= @source.name %>
      </p>
      <p class="source-stats">
        In <b class="green"><%= @source.subscriptions.count %></b> <%= "garden".pluralize(@source.subscriptions.count) %>
      </p>
    </div>
  </div>
  <p class="source-options">
    <% if @sub == nil %>
      <%= link_to new_source_subscription_path(@source), remote: :true do %>
        <button class="subscribe-button">
          <span>Add to garden</span>
        </button>
      <% end %>
    <% else %>
      <%= link_to source_subscription_path(@source, @sub), method: :delete, remote: :true do %>
        <button class="unsubscribe-button">
          <%= image_tag('check.svg', class: "check") %>
          <span>In your garden</span>
        </button>
      <% end %>
      <%= link_to source_subscription_toggle_auto_harvest_path(@source, @sub), method: :put do %>
        <% if @sub.auto_harvest %>
          <button class="auto-harvest-button">
            <span>Auto-harvesting</span>
          </button>
        <% else %>
          <button class="manual-harvest-button">
            <span>Manual harvest</span>
          </button>
        <% end %>
      <% end %>
    <% end %>
  </p>
  <% @harvest.each do |e| %>
    <div class="content">
      <div class="content-right-column">
        <div class="content-top">
          <div class="time-published source-show"><%= distance_of_time_in_words(e.published_date.to_time, Time.now) %> ago</div>
        </div>
        <%= link_to e.media_url, target: :blank, class: 'content-anchor' do %>
          <div class="content-box">
            <% unless e.thumbnail_url == "" %>
              <%= image_tag(e.thumbnail_url, class: 'content-thumbnail source-show') %>
            <% end %>
            <p class="content-title source-show"><%= e.title %></p>
            <p class="content-desc"><%= truncate(e.content, length: 200) %><p>
            <% if e.pickings.where(user: current_user) == [] %>
              <%= link_to new_entry_picking_path(e), remote: :true do %>
                <button class="pick-entry">
                  <span>Pick</span>
                </button>
              <% end %>
            <% else %>
              <%= link_to entry_picking_path(e, id: e.pickings.where(user: current_user).first.id), remote: :true, method: :delete do %>
                <button class="picked-entry">
                  <%= image_tag('check.svg', class: "check") %>
                  <span>Picked</span>
                </button>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/footer' %>