<% title "Plant a tree" %>
<div class="back">
  <%= link_to garden_path do %>
    <%= image_tag('chevron_back.svg', class: 'chevron') %> Garden
  <% end %>
</div>
<div class="garden-flex">
  <%= render "shared/searchbar" %>
  <div class="sub-menu">
    <div class="sub-menu-item active">
      <%= link_to trees_top_path do %>
        Top
      <% end %>
    </div>
    <div class="sub-menu-item">
      <%= link_to trees_latest_path do %>
        Latest
      <% end %>
    </div>
  </div>
  <% @top.each do |source| %>
    <% sub = source.in_garden_of_user(current_user) %>
    <%= render partial: 'shared/tree', locals: {sub: sub, source: source} %>
  <% end %>
</div>