<% title "Planter un arbre" %>
<%= render partial: 'shared/searchbar' %>
<div class="plant-tree-flex">
  <h1>Sources d'information</h1>
  <div class="row submenu center">
    <%= link_to sources_path do %>
      DÉCOUVERTES
    <% end %>
    <%= link_to sources_path(filter: 'popular') do %>
      POPULAIRES
    <% end %>
  </div>
  <hr>
  <p class="helper">Aucune source sur Jera ne correspond à votre recherche. Vous pouvez l'ajouter ci-dessous en copiant-collant le lien vers cette source dans le champ ci-dessous :</p>
  <%= simple_form_for @source do |f| %>
    <%= f.input :url, required: true, label: false, placeholder: "http://..." %>
    <%= f.button :submit, "Ajouter" %>
  <% end %>
</div>