<% title "Impossible d'ajouter cette source" %>
<%= render partial: 'shared/navbar' %>
<div class="content-flex">
  <h1>Sources d'information</h1>
  <div class="row submenu center">
    <%= link_to sources_path do %>
      DÉCOUVERTES
    <% end %>
    <%= link_to sources_path(filter: 'popular') do %>
      POPULAIRES
    <% end %>
  </div>
  <hr>
  <p class="helper">Jera n'a pas pu ajouter automatiquement cette source, car son flux RSS est inaccessible ou inexistant.</p>
  <h1>Ajouter une source</h1>
  <hr>
  <%= simple_form_for @source do |f| %>
    <label>Titre</label>
    <%= f.input :name, required: true, label: false %>
    <label>Image</label>
    <%= f.input :picture, required: true, label: false, placeholder: "http://..." %>
    <label>URL</label>
    <%= f.input :url, required: true, label: false, placeholder: "http://..." %>
    <label>RSS</label>
    <%= f.input :rss_url, required: true, label: false, placeholder: "http://..." %>
    <%= f.button :submit, "Ajouter" %>
  <% end %>
</div>