<% title "Profile" %>
<div class="content-flex">
  <%= link_to destroy_user_session_path, method: :delete, class: "sign-out" do %>
    Sign Out
  <% end %>
</div>
<h2>Edit your profile</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-inputs">
    <%= f.input :username, autofocus: false %>
    <%= f.input :email %>
    <label>New password</label>
    <%= f.input :password, autocomplete: "off", label: false %>
    <%= f.input :current_password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div class="content-flex">
  <p>We believe that your most precious treasure is your time, and we will never do anything that disrespects it.</p>
  <p>If we have failed you and our principles, we are deeply sorry. Here's the link to delete your account:</p>
  <p class="center"><%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "red" %></p>
</div>

<%= render "shared/footer" %>
