<% title "Résultats de recherche" %>
<%= render partial: 'shared/contacts_searchbar' %>
<div class="plant-tree-flex">
  <%= link_to contacts_path, class: 'back-button' do %><%= image_tag('green_arrow_left.svg') %> RETOUR<% end %>
  <h1>Résultats <% unless @search.conditions.first == nil %>"
  <%= @search.conditions.first.values.first.value %>"<% end %></h1>
  <hr>
  <% if @results == [] %>
    <p class="no_results">Aucune personne n'a été trouvée.</p>
    <p class="no_results">Invitez vos amis à s'inscrire sur Jera pour échanger les fruits de vos jardins.</p>
  <% else %>
    <% @results.each do |user| %>
      <%= render partial: 'shared/user', locals: {user: user} %>
    <% end %>
  <% end %>
</div>