<div class="content-read" data-entry="<%= e.id %>">
  <%= link_to e.media_url, target: :blank, class: 'content-anchor' do %>
    <% if e.is_read_by_user?(current_user) %>
      <div class="read-sign">SEEN</div>
      <% if e.thumbnail_url == "" || e.thumbnail_url == nil %>
        <br>
      <% else %>
        <%= image_tag(e.thumbnail_url, class: 'content-thumbnail low-opacity') %>
      <% end %>
    <% else %>
      <div class="read-sign hidden">SEEN</div>
      <% if e.thumbnail_url == "" || e.thumbnail_url == nil %>
        <br>
      <% else %>
        <%= image_tag(e.thumbnail_url, class: 'content-thumbnail') %>
      <% end %>
    <% end %>
    <p class="content-title"><%= e.title %></p>
  <% end %>
</div>
<p class="content-desc"><%= truncate(e.content, length: 200) %></p>