<div class="content show">
  <div class="content-right-column">
    <div class="content-top">
      <div class="time-published source-show">il y a <%= distance_of_time_in_words(e.created_at, Time.now) %></div>
    </div>
    <div class="content-box">
      <%= render partial: 'shared/content_info', locals: {e: e} %>
      <%= render partial: 'shared/fruit_footer', locals: {entry: e, rec_id: nil} %>
    </div>
  </div>
  <div class="content-masked hidden">
    <span>Vous ne verrez plus ce fruit.</span>
    <%= link_to entry_unmask_path(e, recommendation_id: nil), class: 'unmask', remote: :true do %>
      Annuler
    <% end %>
  </div>
  <div class="content-harvested hidden">
    <span>Ajouté à votre récolte.</span>
    <%= link_to entry_unharvest_path(e, recommendation_id: nil), class: 'cancel-harvest', remote: :true do %>
      Annuler
    <% end %>
  </div>
</div>