<div class="content">
  <div class="content-left-column">
    <%= link_to source_show_latest_path(e.source) do %>
      <%= image_tag(e.source.picture, class: 'source-pic') %>
    <% end %>
  </div>
  <div class="content-right-column">
    <div class="content-top">
      <div class="source-title">
          <%= link_to source_show_latest_path(e.source) do %>
            <%= truncate(e.source.name, length: 30) %>
          <% end %>
      </div>
      <div class="time-published"><%= distance_of_time_in_words(e.created_at, Time.now) %> ago</div>
    </div>
    <div class="content-box">
      <div class="content-read" data-entry="<%= e.id %>">
        <%= link_to e.media_url, target: :blank, class: 'content-anchor' do %>
          <% if e.is_read_by_user?(current_user) %>
            <div class="read-sign">SEEN</div>
            <%= image_tag(e.thumbnail_url, class: 'content-thumbnail low-opacity') %>
          <% else %>
            <div class="read-sign hidden">SEEN</div>
            <%= image_tag(e.thumbnail_url, class: 'content-thumbnail') %>
          <% end %>
          <p class="content-title"><%= e.title %></p>
        <% end %>
      </div>
      <p class="content-desc"><%= truncate(e.content, length: 200) %></p>
      <div class="picking-footer">
        <%= link_to new_entry_picking_path(e), class: 'unharvest', remote: :true do %>
          Remove
        <% end %>
      </div>
    </div>
  </div>
</div>