<div class="nav-search">
  <div class="nav-search-flex">
    <%= link_to garden_path, class: 'margin-right-auto' do %>
      <div class="nav-search-back">
        <%= image_tag('white_arrow_left.svg', class: 'arrow-left') %>
        Mes jardins
      </div>
    <% end %>
    <div class="nav-search-bar">
      <%= search_form_for @search, url: search_sources_path do |f| %>
        <div class="magnifier">
          <%= image_tag('magnifier_icon.svg') %>
        </div>
        <%= f.search_field :name_has_any_term, class: 'source_search_input', placeholder: 'Ex : Vsauce, TED...' %>
        <%= f.submit 'Chercher', class: 'source_search_submit' %>
      <% end %>
    </div>
  </div>
</div>