<div class="nav">
  <div class="nav-flex">
    <% if current_user.notification.new_from_contacts %>
      <% new_from_contacts = 'red' %>
      <% notification = 'full-opacity' %>
    <% end %>
    <% if current_page?(controller: 'pages', action: 'fresh') %>
      <% fresh = 'active' %>
      <% harvest = '' %>
    <% elsif current_page?(controller: 'harvests', action: 'harvest') %>
      <% fresh = '' %>
      <% harvest = 'active' %>
    <% end %>
    <div class="row top-navbar">
      <div class="row nav-first-row">
        <%= image_tag(current_user.picture, class: 'profile-button') %>
        <div class="notification-bullet <%= notification %>">&nbsp;</div>
        <%= link_to root_path, class: fresh do %>
          NOUVEAUTÉS
        <% end %>
        <%= link_to harvest_path, class: harvest do %>
          RÉCOLTE
          <div class="added-to-harvest">+<span class="harvest-count">0</span></div>
        <% end %>
      </div>
    </div>
    <div class="row bottom-navbar">
      <%= link_to garden_path do %>ABONNEMENTS<% end %>
      <%= link_to edit_user_registration_path do %>PARAMÈTRES<% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>Déconnexion<% end %>
    </div>
    <div class="row permanent-search-navbar">
      <%= search_form_for @search, url: sources_search_path do |f| %>
        <%= image_tag('magnifier_icon_grey.svg') %>
        <%= f.search_field :name_has_any_term, class: 'nav_search_input', placeholder: 'Chercher une nouvelle source...' %>
      <% end %>
    </div>
  </div>
</div>