<div class="tree">
  <%= link_to source_path(source) do %>
    <div>
      <%= image_tag(source.picture, class: 'tree-pic') %>
    </div>
  <% end %>
  <div class="tree-name">
    <%= link_to source_path(source) do %>
      <%= truncate(source.name, length: 50) %>
    <% end %>
    <% if sub == nil %>
      <%= link_to new_source_subscription_path(source), remote: :true do %>
        <button class="subscribe-button">
          <%= image_tag('white_plus.svg') %>
        </button>
      <% end %>
    <% else %>
      <%= link_to source_subscription_path(source, sub), method: :delete, remote: :true do %>
        <button class="unsubscribe-button">
          <%= image_tag('red_cross.svg') %>
        </button>
      <% end %>
    <% end %>
  </div>
</div>