<div class="tree">
  <%= link_to source_show_latest_path(source, :referer => request.original_url) do %>
    <div>
      <%= image_tag(source.picture, class: 'tree-pic') %>
    </div>
  <% end %>
  <div class="tree-content">
    <%= link_to source_show_latest_path(source, :referer => request.original_url) do %>
      <%= truncate(source.name, length: 50) %>
    <% end %>
    <div class="tree-footer-add">
      <% if sub == nil %>
        <a href="#" class="add-to-garden">
          <span>Ajouter</span>
        </a>
        <%= link_to root_path, class: 'move-tree hidden', remote: :true do %>
          <span>Déplacer</span>
        <% end %>
        <%= link_to source_unsubscribe_path(source), class: 'delete-tree hidden', remote: :true do %>
          <span>Supprimer</span>
        <% end %>
      <% else %>
        <a href="#" class="add-to-garden hidden">
          <span>Ajouter</span>
        </a>
        <%= link_to root_path, class: 'move-tree', remote: :true do %>
          <span>Déplacer</span>
        <% end %>
        <%= link_to source_unsubscribe_path(source), class: 'delete-tree', remote: :true do %>
          <span>Supprimer</span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="add-to-garden-screen hidden">
    <div class="add-to-garden-header">
      <div class="cancel-add-to-garden">
        <%= image_tag('white_cross.svg') %>
      </div>
    </div>
    <div class="add-to-garden-body">
      <p class="add-to-garden-title">Ajouter <b><%= truncate(source.name, length: 50) %></b> à un de vos jardins :</p>
      <div>
        <div class="seeds">
          <div class="seed red" data-colour="red">🍓</div>
          <div class="seed blue" data-colour="blue">🍇</div>
          <div class="seed yellow" data-colour="yellow">🍋</div>
        </div>
        <%= image_tag('plant_seed_arrow.svg', class: 'plant-seed-arrow') %>
        <%= image_tag('weed.svg', class: 'weed') %>
        <div class="earth" data-source="<%= source.id %>">
          <%= image_tag('earth.svg', width: '300') %>
        </div>
      </div>
    </div>
  </div>
</div>