<div class="tree">
  <%= link_to source_show_path(source) do %>
    <div>
      <%= image_tag(source.picture, class: 'tree-pic') %>
    </div>
  <% end %>
  <div class="tree-content">
    <%= link_to source_show_path(source) do %>
      <%= truncate(source.name, length: 50) %>
    <% end %>
    <div class="tree-footer-add">
      <% if sub == nil %>
        <% unsubscribe = "hidden" %>
      <% else %>
        <% subscribe = "hidden" %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to source_edit_path(source), class: "tree-button" do %>
          <span>Modifier</span>
        <% end %>
      <% end %>
      <%= link_to source_subscribe_path(source), class: "add-to-garden #{subscribe}", remote: :true do %>
        <span>Abonner</span>
      <% end %>
      <%= link_to source_unsubscribe_path(source), class: "delete-tree tree-button #{unsubscribe}", remote: :true do %>
        <span>Désabonner</span>
      <% end %>
    </div>
  </div>
</div>