<div class="tree">
  <%= link_to source_path(source) do %>
    <div>
      <%= image_tag(source.picture, class: 'tree-pic') %>
      <% unless sub == nil || %>
        <% unless sub.new_entries == 0 %>
          <div class="new-entries">
            <%= sub.new_entries %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="tree-name">
    <%= link_to source_path(source) do %>
      <%= truncate(source.name, length: 50) %>
    <% end %>
    <%= link_to new_source_subscription_path(source), remote: :true do %>
      <% if sub == nil %>
        <button class="subscribe-button">
          <%= image_tag('white_plus.svg', class: 'white-plus') %>
          <%= image_tag('red_cross.svg', class: 'red-cross hidden') %>
        </button>
      <% else %>
        <button class="unsubscribe-button">
          <%= image_tag('white_plus.svg', class: 'white-plus hidden') %>
          <%= image_tag('red_cross.svg', class: 'red-cross') %>
        </button>
      <% end %>
    <% end %>
  </div>
</div>