<% title "Récolte - Recherche" %>
<%= render partial: 'shared/navbar', locals: {:filter => @filter} %>
<div class="content-flex">
  <h1>"<%= @query["entry_title_cont"] %>" - <%= pluralize(@harvested.count, 'résultat') %></h1>
  <hr>
  <% if @harvested == [] %>
    <span class="empty-message">Aucun élément de votre récolte ne correspond à votre recherche.</span>
  <% else %>
    <% @harvested.each do |action| %>
      <% if action.recommendation_id != nil %>
        <%= render partial: 'shared/recommendation', locals: {e: action.entry, r: action.recommendation, response: false} %>
      <% else %>
        <%= render partial: 'shared/fruit_harvested', locals: {e: action.entry, response: false} %>
      <% end %>
    <% end %>
  <% end %>
</div>