<% title "Fresh" %>
<div class="content-flex">
  <% if @fresh == [] %>
    <br><br>
    <h1>This is where the freshest fruits are delivered to you. :)</h1>
    <%= link_to trees_top_path do %>
      <p class="center green underlined">Plant some trees to harvest their fruits.</p>
    <% end %>
  <% end %>
  <% unless @new == [] %>
    <%= render partial: 'shared/redbar', locals: {title: 'FRESH AND NEW'} %>
    <% @new.each do |e| %>
      <% cache "entry-#{e.id}" do %>
        <%= render partial: 'shared/fruit', locals: {e: e} %>
      <% end %>
    <% end %>
    <%= render partial: 'shared/redbar', locals: {title: ''} %>
  <% end %>
  <% @fresh.each do |e| %>
    <% cache "entry-#{e.id}" do %>
      <%= render partial: 'shared/fruit', locals: {e: e} %>
    <% end %>
  <% end %>
</div>
<div class="go-to-harvest">
  <%= link_to harvest_path(Date.today) do %>
    <div class="column">
      <p>Today's harvest</p>
      <div class="row">
        <span class="normal-size harvest-count">0</span><p class="normal-size">&nbsp;added</p>
      </div>
    </div>
    <div class="column">
      <%= image_tag('chevron_right.svg', class: 'chevron') %>
    </div>
  <% end %>
</div>
<%= render partial: 'shared/navbar' %>