<div class="garden-flex">
  <div class="tree">
    <%= link_to sources_path do %>
      <div class="tree-head">
        <%= image_tag("new_tree.svg", class: 'tree-pic') %>
        <%= image_tag("treebase0.svg") %>
      </div>
      <div class="tree-name">Plant a new tree</div>
    <% end %>
  </div>
  <% @subscriptions.each do |sub| %>
    <div class="tree">
      <%= link_to source_path(sub.source) do %>
      <div class="tree-head">
        <%= image_tag sub.source.picture, class: 'tree-pic' %>
        <% unless sub.new_entries == 0 %>
          <div class="new-entries">
            <%= sub.new_entries %>
          </div>
        <% end %>
        <% if sub.auto_harvest %>
          <%= image_tag "treebase_auto_harvest" %>
        <% else %>
          <%= image_tag "treebase0" %>
        <% end %>
      </div>
      <div class="tree-name"><%= sub.source.name %></div>
      <% end %>
    </div>
  <% end %>
</div>
<%= render partial: 'shared/footer' %>