<% title "Mes Jardins" %>
<div class="nav">
  <div class="nav-flex nav-flex-right">
    <%= link_to root_path do %>
      <div class="nav-green-button">
        <span>Mes nouveautés</span>
        <%= image_tag('white_arrow_right.svg', class: 'arrow-right') %>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: 'shared/profile', locals: {user: current_user} %>
<div class="garden-flex">
  <%= link_to trees_latest_path do %>
    <div class="plant-tree-button">
      <%= image_tag("round_plus_button.svg") %>
      <span>Planter un nouvel arbre</span>
    </div>
  <% end %>
  <%= render partial: 'shared/garden_filter', locals: {colour: @colour} %>
  <% @subscriptions.each do |sub| %>
    <% cache sub do %>
      <% source = sub.source %>
      <%= render partial: 'shared/tree', locals: {sub: sub, source: source} %>
    <% end %>
  <% end %>
</div>