<% title "Garden" %>
<div class="nav">
  <div class="nav-flex nav-flex-right">
    <%= link_to root_path do %>
      <div class="nav-green-button">
        <span>Mes nouveautés</span>
        <%= image_tag('white_arrow_right.svg', class: 'arrow-right') %>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: 'shared/profile', locals: {user: current_user} %>
<div class="garden-flex">
  <div class="plant-tree">
    <%= link_to trees_latest_path do %>
      <div class="plant-tree-pic">
        <%= image_tag("white_plus.svg") %>
      </div>
      <div class="plant-tree-text">
        <p class="plant-tree-title">Plant a new tree</p>
        <p class="plant-tree-subtitle">Find more interesting stuff to harvest from the wild world.</p>
      </div>
    <% end %>
  </div>
  <% @subscriptions.each do |sub| %>
    <% cache sub do %>
      <% source = sub.source %>
      <%= render partial: 'shared/tree', locals: {sub: sub, source: source} %>
    <% end %>
  <% end %>
</div>