<% if @date == "today" %>
  <% title "Today's Harvest" %>
<% elsif @date == "yesterday" %>
  <% title "Yesterday's Harvest" %>
<% else %>
  <% title "Harvest of #{@date}" %>
<% end %>
<div class="back">
  <%= link_to harvests_path do %>
    <%= image_tag('chevron_back.svg', class: 'chevron') %> Harvests
  <% end %>
</div>
<div class="content-flex">
  <% if @date == "today" %>
    <%= render partial: 'shared/redbar', locals: {title: "TODAY'S HARVEST"} %>
  <% elsif @date == "yesterday" %>
    <%= render partial: 'shared/redbar', locals: {title: "YESTERDAY'S HARVEST"} %>
  <% else %>
    <%= render partial: 'shared/redbar', locals: {title: "HARVEST - " + @date} %>
  <% end %>
  <% @entries.each do |e| %>
    <%= render partial: 'shared/fruit_harvested', locals: {e: e} %>
  <% end %>
</div>