<% title "Pickings" %>
<div class="content-flex">
  <% if @pickings == [] %>
    <br><br>
    <h1>Pick awesome fruits from your garden, and eat them later.</h1>
  <% else %>
    <% @pickings.each do |p| %>
      <div class="content">
        <div class="content-left-column">
          <%= link_to source_path(p.entry.source) do %>
            <%= image_tag(p.entry.source.picture, class: 'source-pic') %>
          <% end %>
        </div>
        <div class="content-right-column">
          <div class="content-top">
            <div class="source-title">
                <%= link_to source_path(p.entry.source) do %>
                  <%= p.entry.source.name %>
                <% end %>
            </div>
            <div class="time-published"><%= distance_of_time_in_words(p.entry.published_date.to_time, Time.now) %> ago</div>
          </div>
          <div class="content-box">
            <%= link_to p.entry.media_url, target: :blank, class: 'content-anchor' do %>
              <%= image_tag(p.entry.thumbnail_url, class: 'content-thumbnail') %>
              <p class="content-title"><%= p.entry.title %></p>
            <% end %>
            <p class="content-desc"><%= truncate(p.entry.content, length: 200) %><p>
            <% if p.entry.pickings.where(user: current_user) == [] %>
              <%= link_to new_entry_picking_path(p.entry), remote: :true do %>
                <button class="pick-entry">
                  <span>Pick</span>
                </button>
              <% end %>
            <% else %>
              <%= link_to entry_picking_path(p.entry, id: p.id), remote: :true, method: :delete do %>
                <button class="picked-entry">
                  <%= image_tag('check.svg', class: "check") %>
                  <span>Picked</span>
                </button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= render partial: 'shared/footer' %>