<% title "Pickings" %>
<div class="content-flex">
  <div class="sub-menu harvest">
    <div class="sub-menu-item">
      <%= link_to root_path do %>
        Last 7 days
      <% end %>
    </div>
    <div class="sub-menu-item active">
      <%= link_to pickings_path do %>
        Pickings
      <% end %>
    </div>
  </div>
  <% if @pickings == [] %>
    <br><br>
    <h1>Pick some delicious fruits to eat them later. They'll stay pretty fresh here.</h1>
  <% else %>
    <% @pickings.each do |p| %>
      <div class="content">
        <div class="content-left-column">
          <%= link_to source_path(p.entry.source) do %>
            <%= image_tag(p.entry.source.picture, class: 'source-pic') %>
          <% end %>
        </div>
        <div class="content-right-column">
          <div class="content-top">
            <div class="source-title">
                <%= link_to source_path(p.entry.source) do %>
                  <%= truncate(p.entry.source.name, length: 30) %>
                <% end %>
            </div>
            <div class="time-published"><%= distance_of_time_in_words(p.entry.published_date.to_time, Time.now) %> ago</div>
          </div>
          <div class="content-box">
            <%= link_to p.entry.media_url, target: :blank, class: 'content-anchor' do %>
              <%= image_tag(p.entry.thumbnail_url, class: 'content-thumbnail') %>
              <p class="content-title"><%= p.entry.title %></p>
            <% end %>
            <p class="content-desc"><%= truncate(p.entry.content, length: 200) %></p>
            <%= render partial: 'shared/fruit_footer', locals: {entry: p.entry} %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= render partial: 'shared/footer' %>