<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Jera
    <% end %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicons/favicon.ico' %>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Jera - Trees of Knowledge">
  <meta property="og:url" content="http://www.jerapp.com/">
  <meta property="og:description" content="Your time is your most precious treasure. Keep learning and growing in an environment that respects it.">
  <meta property="og:image" content="http://www.jerapp.com/images/jera_facebook_og_image.png">
  <meta property="og:locale" content="en_US">
  <meta property="fb:admins" content="658929354279853">
  <meta name="twitter:site" content="@jerapptree" />
  <meta name="twitter:creator" content="@thpariente" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-91476849-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <%= yield %>
  <script>
    // PICK
    $(".pick-entry").unbind('click').bind('click', function(evt) {

      var old_count = $(this).attr("data-count");

      if ($(this).find("img.coloured").hasClass("hidden")) {
        $(this).find("img.coloured").removeClass("hidden");
        $(this).find("img.greyed").addClass("hidden");
        $(this).find("span.picking-word").addClass("red");
        $(this).find("span.count").addClass("red");
        var new_count = parseInt(old_count, 10) + 1;
      } else {
        $(this).find("img.coloured").addClass("hidden");
        $(this).find("img.greyed").removeClass("hidden");
        $(this).find("span.picking-word").removeClass("red");
        $(this).find("span.count").removeClass("red");
        var new_count = parseInt(old_count, 10) - 1;
      }

      $(this).attr("data-count", new_count);
      $(this).find("span.count").html(new_count);


      if (new_count == "1") {
        $(this).find('span.picking-word').html("picking");
      } else {
        $(this).find('span.picking-word').html("pickings");
      }
    });

    // SUBSCRIBE

    $(".subscribe-button").click(function() {
      location.reload();
    });

    $(".subscribe-button").children().click(function() {
      location.reload();
    });

    $(".unsubscribe-button").click(function() {
      location.reload();
    });

    $(".unsubscribe-button").children().click(function() {
      location.reload();
    });
  </script>
</body>
</html>